<!DOCTYPE html>
<html>
<head>
    <title>Hitachi Finger Vein Device Application</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
    <a href="/ledon">LED On</a><br>
    <a href="/ledoff">LED Off</a><br>
    <a href="/send_encryption_key">Send encryption key</a><br>
    <a href="/receive_template">Receive template</a><br>
    <a href="/send_template">Send template</a><br>
    <a href="/verification_1toN">Verification (1 to N)</a><br>
    <a href="/reset">Reset</a><br>
</body>
</html>